@page
@model RenspandWebsite.Pages.CompanyInformationSiteModel
<link rel="icon" type="image/png" href="/Assets/RenSpandLogo.png" />
@{
    
    ViewData["Title"] = "Om os";
}

<div class="container mt-5">
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold">Om os</h1>
        <p class="lead">Lær mere om vores firma og hvad vi står for</p>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" width="500" @*class="img-fluid w-75 rounded-3 shadow"*@ alt="Om os billede">
        </div>
        <div class="col-md-6">
            <h2>Vores historie</h2>
            <p>@Model.Description</p>
            <ul class="list-unstyled mt-4">
                <li><strong>Navn:</strong> @Model.CompanyName</li>
                <li><strong>Mobilnr:</strong> @Model.MobileNumber</li>
                <li><strong>Hovednr:</strong> @Model.OfficeNumber</li>
                <li><strong>Email:</strong> @Model.CompanyEmail</li>
                <li><strong>Adresse:</strong> @Model.CompanyAddress</li>

            </ul>
        </div>
    </div>

    <div class="text-center">
        <a href="tel: +4531626924" class="btn btn-primary btn-lg">Kontakt os</a>
        
    </div>
</div>


